.orders-table {
    padding: 15px;

    .table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;

        .search-input {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #414a69;
            border-radius: 5px;
            padding: 5px;

            input {
                border: none;
                outline: none;
            }
        }
    }

    .table-cell {
        img {
            width: 40px;
            height: 40px;
        }
        .bg-blue {
            background-color: lightblue;
            padding: 10px 20px;
            border-radius: 10px;
        }
        .bg-pink {
            background-color: pink;
            height: 100%;
            padding: 10px 20px;
            border-radius: 10px;
        }
        .bg-green {
            background-color: rgb(35, 153, 94);
            height: 100%;
            padding: 10px 20px;
            border-radius: 10px;
        }
        .bg-red {
            background-color: #ee8d8a;
            height: 100%;
            padding: 10px 20px;
            border-radius: 10px;
        }
    }
}
