.merchant-detail-page {
    padding: 20px;
    position: relative;
    height: 100%;

    .main-info {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        .merchant-image {
            width: 120px;
            height: 120px;
            border-radius: 10px;
            overflow: hidden;
            margin-right: 50px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .merchant-name {
            margin-left: 50px;
        }
    }

    .info {
        margin: 10px 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .label {
            font-weight: bold;
            margin-right: 15px;
        }

        p {
            margin: 0;
        }
    }

    .merchant-info {
        display: flex;
        align-items: center;

        svg {
            margin-right: 15px;
            font-size: 30px;
        }

        .merchant-name {
            margin-left: 30px;
        }
    }

    .actions {
        margin: 30px 0 10px;
        display: flex;
        justify-content: center;

        button {
            text-transform: none;
        }
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.3);
    }
}
